.list_showoff {
  width: 100%;
  column-width: 320px;
  column-gap: 15px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}
figure {
  margin: 0;
  display: inline-block;
  column-break-inside: avoid;
}
